@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: "dancing";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/dancing/dancing.woff2") format("woff2");
}

.font-dancing {
  font-family: dancing, sans-serif;
}
